<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DavidAdellE.timeexchange"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/logo">
        <activity
            android:name="com.DavidAdellE.timeexchange.LoginActivity"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Entry for RegisterActivity.class -->
        <activity android:name=".RegisterActivity"
                  android:label="Register New Account" android:theme="@style/AppBaseTheme">
            
        </activity>
        <activity android:name="RecoveryActivity" 
            	  android:label="Recuperar Contraseña" android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        
    </application>

</manifest>
